.card.shadow.bg-dark.text-light
  .card-header
    %h2 Buy credits
  .card-body
    = form_for(@charge) do |f|
      - if f.object.errors.any?
        = f.object.errors.full_messages.to_sentence
      .form-inputs
        = f.label :amount
        = f.number_field :amount, autofocus: true
      .form-actions
        = f.submit "Buy credits", class: "btn btn-sm btn-success"